.example-icon {
    padding: 0 30px;
  }
  #movie{
    color:yellow;
    
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .example-card {
    max-height: 600px;
    width: 350px;
  }
  .searchIcon{
    padding: 20px 0px -10px 0px;
  }
  .example-header-image {
    
    background-size: cover;
  }
